@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src:url('/Tipografias/Roboto/Roboto-Bold.woff2') format('woff2'), url('/Tipografias/Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:url('/Tipografias/Roboto/Roboto-Medium.woff2') format('woff2'), url('/Tipografias/Roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src:url('/Tipografias/Roboto/Roboto-Regular.woff2') format('woff2'), url('/Tipografias/Roboto/Roboto-Regular.woff') format('woff'); 
}

:root {
    --white: #F5F5F5;
    --greyShadow: #202020;
    --greyDark: #404040;
    --grey: #606060;
    --greyClear: #6e6e6e;
    --black: #101010;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

main.active {
    overflow: hidden;
    height: 100vh;
    pointer-events: none;
}

.button {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: 3px solid var(--white);
    font-weight: bold;
    font-size: 24px;
    transition: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    color: var(--white);
}

.button:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

/*
    WELCOME SECTION
*/

#welcome {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    height: calc(100vh - 60px);
    min-height: 750px;
    margin: 0;
    overflow: hidden;
}

#welcome-image {
    display: block;
    width: 200px;
    height: 200px;
    padding: 8px;
    border: 3px solid var(--white);
    margin: auto;
    margin-top: 12vh;
}

#welcome-image div {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url("/content/images/welcome-image.jpg");
    background-size: cover;
    filter: grayscale(1);
}

#welcome-text {
    padding: 0px;
    padding-top: 40px;
}

#welcome-text h4 {
    margin-top: 60px;
    margin-bottom: 5px;
}

#welcome-text h4 span {
    color: var(--grey);
}

#welcome-text a {
    display: block;
    color: var(--grey);
}

#check-my-work {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: 3px solid var(--white);
    font-weight: bold;
    font-size: 24px;
    transition: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    color: var(--white);
}

#check-my-work:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

/* 
    PROJECT SECTION
*/

#projects {
    margin: 0;
    padding: 30px 30px;
}

#projects-title {
    display: block;
    padding-top: 8vh;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--greyShadow);
    width: 22%;
    min-width: 320px;
    max-height: 999px;
    margin: 40px 0px;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
    padding: 40px;
    padding-bottom: 70px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    
}

.project-container:hover {
    background-color: #303030;
}


.project-container.open img {
    cursor: pointer;
}

.project-container img {
    display: block;
    margin: auto;
    width: 76%;
    min-width: 320px;
}

.project-container p {
    margin-bottom: 1.5em;
    min-width: 320px;
    margin: auto;
}

.project-container a {
    color: var(--grey);
}

.project-container .button {
    display: block;
    color: var(--white);
    margin-top: 30px;
    margin-bottom: 0px;
}

.project-container .button:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

.project-container p strong {
    font-size: 1.4rem;
}

.project-container p .strong-br {
    display: block;
    content: "";
    margin-top: 8px;
}

/* 
    ABOUT SECTION
*/

#about {
    display: block;
    margin-bottom: 60px;
}

#about-title {
    display: block;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 20vh;
}

#about-data {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about-data div {
    width: 30%;
    min-width: 320px;
    padding: 40px;
    margin: 40px;
    background-color: var(--greyShadow);
}

#about-me {
    text-align: center;
}

#about-me strong {
    text-transform: uppercase;
    color: var(--greyClear);
}

#about-me .button {
    margin-top: 50px;
    margin-bottom: 0px;
}

#skills h2 {
    display: block;
    text-align: center;
}

#skills p {
    color: var(--greyClear);
    text-align: center;
}

#skills p strong {
    color: var(--white);
}

#skills p span {
    color: var(--greyDark);
}

/* 
    CONTACT SECTION
*/

#contact {
    display: block;
    margin-top: 30vh;
    margin-bottom: 30vh;

}

#contact-title {
    display: block;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

#contact-container {
    display: block;
    background-color: var(--greyShadow);
    width: 22%;
    min-width: 320px;
    max-height: 999px;
    margin: 40px 0px;
    padding: 40px;
    padding-bottom: 70px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}

#contact-container .button {
    display: block;
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

#contact-container .button:last-of-type {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}

/* 
    NAV-BAR / MENU
*/

footer {
    position: fixed;
    bottom: 0px;
    right: -10px;
    left: -10px;
    width: 100%;
    color: var(--white);
    padding: 20px 20px;
    font-size: 18px;
    background-color: var(--black);
}

footer table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.language {
    padding: 5px 7px;
    border: 2px solid var(--white);
}

.language:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.menu:hover {
    text-decoration: underline;
}

.menu:after {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0id2hpdGUiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz48L3N2Zz4=");
    height: 20px;
    width: 20px;
    padding: 10px 15px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center 2px;
    margin-left: 5px;
}

.language-selected {
    background-color: var(--white);
    color: var(--black);
    font-weight: 500;
    border: 2px solid var(--white);
    pointer-events: none;
}

.language-selected.en {
    border-right: 0px;
}

.language-selected.es {
    border-left: 0px;
}

.language-selected:hover {
    cursor: default;
    text-decoration: none;
}

.main-menu {
    display: block;
    height: 0px;
    min-height: 0px;
    width: 100%;
    background-color: var(--black);
    transition: all 0.55s ease-in-out;
    overflow: hidden;
}

.main-menu.open {
    min-height: calc(100vh - 64px);
}

.menu-items {
    opacity: 0;
    display: none;
    padding-top: 0;
    transition-delay: 0.55s;
    transition: all 0.25s ease-in-out;
    margin-left: -20px;
}

.menu-items.open {
    opacity: 1;
    display: block;
    padding-top: 150px;
    transition: all 0.25s ease-in-out;
}

.main-menu a {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    margin: 20px 0px;
}

.main-menu-close { 
    width: 60px;
    height: 60px;
    margin: auto;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIKdmlld0JveD0iMCAwIDE3MiAxNzIiCnN0eWxlPSIgZmlsbDojMDAwMDAwOyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6IG5vcm1hbCI+PHBhdGggZD0iTTAsMTcydi0xNzJoMTcydjE3MnoiIGZpbGw9Im5vbmUiPjwvcGF0aD48ZyBmaWxsPSIjZmZmZmZmIj48cGF0aCBkPSJNMzEuNDk3NSwyMS43MTVsLTkuNzgyNSw5Ljc4MjVsNTQuNTAyNSw1NC41MDI1bC01NC44MjUsNTQuOTMyNWw5LjY3NSw5LjY3NWw1NC45MzI1LC01NC44MjVsNTQuODI1LDU0LjgyNWw5Ljc4MjUsLTkuNzgyNWwtNTQuODI1LC01NC44MjVsNTQuNTAyNSwtNTQuNTAyNWwtOS43ODI1LC05Ljc4MjVsLTU0LjUwMjUsNTQuNTAyNXoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==') 50% 50% no-repeat;
    background-size: 100%;
    cursor: pointer;
}

@media screen and (max-width: 430px){
    .project-container {
        padding: 20px;
    }
    .project-container img {
        min-width: 200px;
    }
    .project-container .button {
        font-size: 18px;
    }
    #about-data div {
        padding: 20px;
    }

    #contact-container {
        padding: 20px;
    }
}

@media screen and (max-width: 460px){
    #projects {
        padding: 30px 0px;
    }
}

@media screen and (max-width: 600px){
    #portfolio-image {
        margin-top: 8vh;
    }

    #portfolio-image, #portfolio-image div {
        width: 180px;
        height: 180px;
    }

    #welcome-text h1 {
        font-size: 26px;
    }

    #welcome-text h2 {
        font-size: 22px;
    }

    #welcome-text h4 {
        font-size: 14px;
    }

    #welcome-text a {
        padding: 5px 20px;
    }

    #check-my-work, .button {
        margin-top: 40px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1290px){
    #projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .project-container {
        width: 40%;
        margin-top: 40px;
        max-height: 999px;
        cursor: default;
        padding-bottom: 70px;
    }
    
    .project-info {
        display: block;
        opacity: 1;
    }
}