@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src:url('/Tipografias/Roboto/Roboto-Bold.woff2') format('woff2'), url('/Tipografias/Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:url('/Tipografias/Roboto/Roboto-Medium.woff2') format('woff2'), url('/Tipografias/Roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src:url('/Tipografias/Roboto/Roboto-Regular.woff2') format('woff2'), url('/Tipografias/Roboto/Roboto-Regular.woff') format('woff'); 
}

:root {
    --white: #F5F5F5;
    --greyShadow: #202020;
    --greyDark: #404040;
    --grey: #606060;
    --greyClear: #6e6e6e;
    --black: #101010;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

main #welcome-container{
    margin-top: 4%;
    margin-left: 4%;
    text-align: right;
    width: fit-content;
}

main #welcome-container h1 {
    margin: 0;
}

main #welcome-container h4 {
    margin: 0.75rem;
    margin-left: 0;    
}

main #welcome-container #welcome-text-change {
    width: 4px;
    overflow: hidden;
    display: inline-block;
    background-color: var(--white);
    transition: width cubic-bezier(1, 0, 0, 1) 1s;
    text-align: center;
}

main #welcome-container #welcome-text-change:hover {
    width: 100%;
    color: var(--black);
    transition: width cubic-bezier(1, 0, 0, 1) 1s, color cubic-bezier(1, 0, 0, 1) 1.2s;
}

main #welcome-container #author h1 {
    text-align: left;
}

main #welcome-container #author h4 {
    text-align: left;
}

/*
    WELCOME SECTION
*/
